<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ prato }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" *ngIf="prato!='dia'">{{ prato }}</ion-title>
      <ion-title size="large" *ngIf="prato=='dia'">Prato Promocional do Dia</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   <strong class="capitalize" *ngIf="prato!='dia'">{{ prato }}</strong>
    <strong class="capitalize" *ngIf="prato=='dia'">Prato Promocional do Dia</strong>

<!-- prato do dia -->
<ion-card *ngIf="prato=='dia'">
 <ion-item class="ion-activated">
    <ion-label>A la minuta</ion-label>
    <ion-label><b>19,90</b></ion-label>
    <ion-img style="width:300px; height:300px;" src="https://bit.ly/3ATuAkq"></ion-img>
    
  </ion-item>
  <ion-label>Prato com bife, batata palha ou batata frita, ovo, arroz e feijão. Acompanha salada.</ion-label>
</ion-card>
<!-- fim prato do dia  -->

<!-- inicio lanches -->


<!-- fim lanches  -->

<!-- inicio bebidas -->
<ion-card *ngIf="prato=='Bebidas'">

 <ion-item class="ion-activated">
    <ion-label>Refrigerante</ion-label>
    <ion-label>5.00</ion-label>
    <ion-img style="width:150px; height:120px;" src="https://bit.ly/3jfMbwL"></ion-img>
    <ion-button expand="full" (click)="re = !re" fill="outline" slot="end">
        <span>Detalhes</span>
        <ion-icon id="bi1" name="arrow-dropdown" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
   <ion-text id="ba1" *ngIf="re">
       <br/>
        Valor: R$5,00 <br/>
        Refrigerantes de Cola, uva e laranja.
        <br/>
         <ion-img style="width:300px; height:200px;center;" src="https://bit.ly/3BTTCB3"></ion-img>
    </ion-text> 

   <ion-item class="ion-activated">
    <ion-label>Cerveja</ion-label>
    <ion-label>9.00</ion-label>
    <ion-img style="width:150px; height:120px;" src="https://bit.ly/2XnTafp"></ion-img>
    <ion-button expand="full" (click)="ce = !ce" fill="outline" slot="end">
        <span>Detalhes</span>
        <ion-icon id="bi2" name="arrow-dropdown" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
   <ion-text id="ba2" *ngIf="ce">
       <br/>
        Valor: R$9,00 <br/>
        Diversas marcas de cervejas disponíveis.
        <br/>
         <ion-img style="width:300px; height:200px;center;" src="https://bit.ly/3aNfe6v"></ion-img>
    </ion-text> 

  <ion-item class="ion-activated">
    <ion-label>Suco</ion-label>
    <ion-label>8.00</ion-label>
    <ion-img style="width:150px; height:120px;" src="https://bit.ly/3lSLnzR"></ion-img>
    <ion-button expand="full" (click)="su = !su" fill="outline" slot="end">
        <span>Detalhes</span>
        <ion-icon id="bi3" name="arrow-dropdown" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
     <ion-text id="ba2" *ngIf="su">
       <br/>
        Valor: R$8,00 <br/>
        Sucos naturais de laranja, limão, acerola e maracujá.
        <br/>
         <ion-img style="width:300px; height:200px;center;" src="https://bit.ly/3aM7kKy"></ion-img>
    </ion-text> 

    <ion-item class="ion-activated">
      <ion-item color="secondary">
    <ion-label>
      Água mineral ou H2O
    </ion-label>
  </ion-item>
    <ion-chip>
      <ion-label color="secondary">R$6,00</ion-label>
    </ion-chip>
    <ion-img style="width:150px; height:120px;" src="https://bit.ly/3jeuPR6"></ion-img>
    <ion-button expand="full" (click)="ho = !ho" fill="outline" slot="end">
        <span>Detalhes</span>
        <ion-icon id="bi4" name="arrow-dropdown" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
    <ion-text id="ba3" *ngIf="ho">
       <br/>
        Valor: R$6,00 <br/>
        Agua mineral com ou sem gás e água gaseificada de limão.
        <br/>
         <ion-img style="width:300px; height:200px;center;" src="https://bit.ly/3jeuPR6"></ion-img>
    </ion-text> 

   <ion-item class="ion-activated">
    <ion-label>Vinho</ion-label>
    <ion-label>16.00</ion-label>
    <ion-img style="width:150px; height:120px;" src="https://bit.ly/3jdIzeR"></ion-img>
    <ion-button expand="full" (click)="vi = !vi" fill="outline" slot="end">
        <span>Detalhes</span>
        <ion-icon id="bi5" name="arrow-dropdown" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
    <ion-text id="ba1" *ngIf="vi">
       <br/>
        Valor: R$16,00 <br/>
        Vinho da Serra Gaúcha. 
        <br/>
        <ion-img style="width:300px; height:200px;center;" src="https://bit.ly/3jdIzeR"></ion-img>
    </ion-text> 
<!-- fim bebidas -->
</ion-card>

  </div>
</ion-content>
